# DO NOT commit .env file!
# Copy this file to .env and fill in your desire values
POSTGRES_CONTAINER_NAME=milo-db-local
POSTGRES_USER=milo-admin
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=milo_dev
